mixin slider(array, className)
  #slider.slider(class=className ? className : '')
    .info.slider__info
      .info__wrap
        h3.info__heading.heading.heading_medium
          #headingContent.heading__content Работа 1
        #stackContent.info__stack HTML, CSS, JavaScript
        a#infoLink.info__link(href="#")
          //include ../../static/images/otherIcons/link.svg
          span.info__link-text Посмотреть сайт
    .slider__main
      ul.slider__list
        li.slider__main-wrap.slider__main-wrap_active
          img.slider__img(src=require("../../static/images/slider/work-1.png"), alt="Текущий проект")
        li.slider__main-wrap
          img.slider__img(src=require("../../static/images/slider/work-2.png"), alt="Текущий проект")
        li.slider__main-wrap
          img.slider__img(src=require("../../static/images/slider/work-3.png"), alt="Текущий проект")
        li.slider__main-wrap
          img.slider__img(src=require("../../static/images/slider/work-4.png"), alt="Текущий проект")
    .slider__controls
      .slider__control
        ul.slider__list.slider__list_down
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-1.png"), alt="Предыдущий проект")
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-2.png"), alt="Предыдущий проект")
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-3.png"), alt="Предыдущий проект")
          li.slider__wrap.slider__wrap_active
            img.slider__img(src=require("../../static/images/slider/work-4.png"), alt="Предыдущий проект")
        .slider__button.slider__button_down
          .slider__arrow-img.slider__arrow-img_down
            include ../../static/images/otherIcons/arrow_down.svg
      .slider__control
        ul.slider__list.slider__list_up
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-1.png"), alt="Следующий проект")
          li.slider__wrap.slider__wrap_active
            img.slider__img(src=require("../../static/images/slider/work-2.png"), alt="Следующий проект")
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-3.png"), alt="Следующий проект")
          li.slider__wrap
            img.slider__img(src=require("../../static/images/slider/work-4.png"), alt="Следующий проект")
        .slider__button.slider__button_up
          .slider__arrow-img.slider__arrow-img_up
            include ../../static/images/otherIcons/arrow_down.svg